/* charity_organizations */
.charity_organizations{ 
    display: block;
    overflow: hidden;
    background: url("../images/counter_bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 175px 0 95px;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        display: block; 
        background-color: rgba(255, 149, 7, 0.878);
        width: 100%;
        z-index: -1;
    } 
    .charity_content{
        h2{
            font: 500 40px/60px $pop;
            color: #fff;
            padding-bottom: 72px;
        }
        a{
            font: 600 16px/30px $open;
            color: #fff;
            border-bottom: 1px solid $bc;
            display: inline-block;
            &:hover, &:focus{
                color: $heding;
            }
        }
    }
    .donet_counter{ 
        padding-top: 5px;
        .media{
            margin-bottom: 80px;
            i:before{
                font-size: 55px;
                color: #fff;
                line-height: 1;
            }
            .media-body{
                padding-left: 28px;
                h4{
                    font: 400 24px/1 $pop;
                    color: #fff;
                    padding-bottom: 20px;
                }
                h2{
                    color: #fff;
                    font: 600 52px/1 $pop;
                }
            }
        }
        &.dc_2{
            padding-left: 40px;
        }
    }
}
/* charity_organizations */
 
