/* upcoming_event_area */
.upcoming_event_area{
    display: block;
    overflow: hidden;
    padding: 90px 0;
    .run_event{
        padding-top: 70px;
        .official_event{
            margin-bottom: 30px;
            .event_img{
                position: relative;
                display: block;
                overflow: hidden;
                img{
                    max-width: 100%;
                    transition: all 1s linear 0s;
                }
                h4{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    background: rgba(31, 31, 31, 0.502);
                    padding: 20px 35px;
                    font: 600 25px/1 $pop;
                    color: #fff;
                    transition: all 1s linear 0s;
                    display: none;
                }
            }
            &:hover, &.active{ 
                .event_img{
                    h4{
                        display: block;
                    }
                    
                    img{
                        transform: scale3D(1.1,1.1,1);
                    }
                }
                .event_contnet{
                    a, p{
                        color: #fff;
                    }
                    &:after{
                        -webkit-transform: scaleY(1);
                        transform: scaleY(1);
                        -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); 
                    }
                }
            }
            .event_contnet{
                background: #f7f7f7;
                padding: 30px 40px;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0); 
                -webkit-transition-property: color;
                transition-property: color;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s; 
                &:after{
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $bc;
                    -webkit-transform: scaleY(0);
                    transform: scaleY(0);
                    -webkit-transform-origin: 50% 0;
                    transform-origin: 50% 0;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.5s;
                    transition-duration: 0.5s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out; 
                }
                a{
                    font:500 24px/36px $pop;
                    color: #000;
                }
                p{
                    font: 400 16px/32px $open;
                    color: $pfont;
                    padding-top: 15px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}
.uea_2{
    padding-top: 145px;
}
.uea_3{
    .run_event .official_event {
        margin-bottom: 3px;
        .event_contnet{
            position: relative;
            padding-right: 105px; 
            .more_event{
                background: #ececec;
                color: #8c8b8b;
                position: absolute;
                top: 0;
                font-size: 20px;
                bottom: 0;
                right: 0;
                width: 50px;
                justify-content: center;
                align-items: center;
                display: flex;
                border-left: 1px solid #f7f7f7;
                &:hover, &:focus{
                    background: $bc;
                    color: #fff; 
                }
            }
        }
        .p-r-0{
            padding-right: 0;
            padding-top: 25px;
        }
    }
}
/* End upcoming_event_area */ 

/*============= Event_pages =============*/ 
.event_pages{
    padding-bottom: 70px;
    .pagination_area{
        padding-top: 25px;
    }
}
.event_media{  
    margin-bottom: 30px; 
    .event_img{
        display: block;
        overflow: hidden;
        img{
            max-width: 100%;
            @include transition;
        }
    }
    &:hover, &:focus{ 
        img{
            transform: scale3D(1.1,1.1,1);
        } 
    }
    .media-body{
        background: #f5f5f5;
        padding: 30px 20px 30px 40px;
        h3{
            font: 400 18px/1 $open;
            color: #312f2f;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex; 
            align-items: center;
            b{
                font: 600 34px/66px $open;
                color: #fff;
                width: 68px;
                text-align: center;
                background: $bc;  
                display: inline-block;
                margin-right: 20px;
            }
            .theme_btn{
                line-height: 40px;
                font-size: 15px;
                min-width: 140px;
                border-radius: 15px;
                margin-left: 33px; 
                font-family: $open;
                background: #b9b9b9;
                &:after{
                    background: $bc;
                }
                &:before{
                    background: rgba(255, 179, 7, 0.5);
                }
            }
        }
        .event_heding{
            font: 500 24px/36px $pop;
            color: #312f2f;
            display: block;
            padding-top: 35px;
            &:hover, &:focus{
                color: $bc;
            }
        }
        p{
            line-height: 32px;
            padding: 23px 0 20px;
        }
        h6{
            font: 400 15px/22px $open;
            color: $pfont;
            position: relative;
            padding-left: 27px;
            i{
                font-size: 15px;
                padding-right: 10px;
                color: $bc;
                position: absolute;
                left: 0;
                top: 5px;
            }
        }
    }
}
.ea_v2{
    padding-bottom: 20px;
    .pagination_area{
        padding-top: 60px;
    }
}
.event_details{
    .donations_details{ 
        .datails_timar{
            max-width: 645px;
            margin: 0 auto;
            position: relative;
            .timer{
                padding-top: 0;
                margin-top: 55px;
                display: block; 
            }
            .book_now{
                background-color: transparent;
                border-radius: 15px;
                border: 1px solid $bc;
                line-height: 45px;
                font-size: 16px;
                min-width: 145px;
                color: $bc; 
                position: absolute;
                right: 0;
                top: 7px;
                &:after{
                    background: $bc;
                }
                &:before{
                    background: rgba(255, 179, 7, 0.5);
                }
                &:hover, &:focus{
                    color: #fff;
                }
            }
            .event_date{
                padding-bottom: 45px;
                li{
                    display: inline-block;
                    padding-right: 30px;
                    font: 400 16px/32px $open;
                    color: #848383;
                    padding-bottom: 20px;
                    i{
                        color: $bc;
                        padding-right: 10px;
                        font-size: 18px;
                    }
                    &.money{
                        padding-right: 0;
                        float: right;
                    }
                    .theme_btn{
                        min-width: 226px;
                        padding: 0;
                        margin-left: 15px;
                        position: relative; 
                        top: 20px;
                    }
                }
            }
        } 
    }
}