/* become_volunteer */
.become_volunteer{
    display: block;
    overflow: hidden;
    padding: 90px 0 60px;
    h2{
        font: 600 38px/50px $pop;
        color: $bc;
        text-transform: uppercase;
    }
    .volunteer_from{
        padding-top: 70px;
        .form-group{
            position: relative;
            margin-bottom: 30px;
            .form-control, .selectmenu{
                box-shadow: none;
                outline: none;
                resize: none;
                border-radius: 0;
                border: 1px solid #e8e8e8;
                font: 400 16px/53px $open;
                color: rgba(0, 0, 0, 0.502);
                height: auto;
                width: 100%;
                padding: 0 20px; 
                @include placeholder{  
                    color: rgba(0, 0, 0, 0.502);; 
                }
                &:focus{
                    border-color: $bc;
                    @include placeholder{
                        color: #fff;
                    }
                }
            }
            textarea{
                line-height: 32px !important;
                padding-top: 15px !important;
                min-height: 155px;
            }
            i{
                font-size: 16px;
                color: $bc;
                position: absolute;
                top: 0;
                right: 35px;
                line-height: 53px;
            }
            .selectmenu{ 
                &:after{
                    content: "\f0d7";
                    position: absolute;
                    top: 0;
                    right: 25px;
                    font: normal normal normal 16px/53px FontAwesome;
                    color: $bc;
                    border: 0;
                    transform: none;
                } 
                .list{
                    border-radius: 0;
                    width: 100%;
                    margin: 0;
                    li{
                        &:hover, &:focus{
                            background: $bc;
                            color: #fff; 
                        }
                    }
                }
            }
            .theme_btn{
                font-weight: 400;  
                border:0; 
                box-shadow: none;
                border-radius: 0;
                min-width: 185px;
                line-height: 55px;
                margin-top: 20px;
            }
        }
    }
}
/* End become_volunteer */



/* Contact Us Area */
.contact_area{
    display: block;
    overflow: hidden;
    padding-top: 130px;
    .contact_tittle{
        padding-bottom: 60px;
        h2{
            font: 500 34px/36px $pop;
            color: $heding;
        }
        p{
            font: 400 16px/30px $open;
            color: $bc;
            padding-top: 50px;
        }
    }
    .contact_inner{
        .from_main{ 
            .form-group{
                margin-bottom: 30px;
                .form-control{
                    box-shadow: none;
                    outline: none; 
                    border: 0;
                    font: 400 16px/50px $open;
                    color: rgba(0, 0, 0, 0.6);
                    border-radius: 10px;
                    height: auto;
                    padding: 0 30px;
                    resize: none; 
                    background: #f6f6f6;
                    @include placeholder{
                        color: rgba(0, 0, 0, 0.6);
                    } 
                    &:focus{
                        border-color: $bc;
                        @include placeholder{
                            color: transparent;
                        }
                    }
                }
                textarea{
                    line-height: 30px !important;
                    height: 240px !important;
                    padding-top: 27px !important;
                }
                .theme_btn{  
                    border-radius: 10px;
                    padding: 0;
                    margin-top: 20px;
                    font-size: 16px;
                    border: 0;
                    display: block;
                    min-width: 100%;
                }
                &.has-error{
                    .form-control{
                        border:1px solid red;
                    }
                }
            }
        }
    }
}
/* End Contact Us Area */

/* office_location_area Area */
.office_location_area{
    display: block;
    overflow: hidden;
    padding-top: 95px;
    .office_location_row{
        .location{
            background: #f6f6f6;
            border-radius: 10px;
            text-align: center;
            padding: 40px;
            position: relative;
            z-index: 1;
            &:after{
                content: "\f10b";
                font-size: 150px;
                color: #e7e7e7;
                position: absolute;
                left: 0;
                right: 0; 
                bottom: -27px;
                font-family: "Flaticon";
                z-index: -1;
            }
            &.Number{
                &:after{
                    content: "\f105";
                    bottom: -2px;
                    font-size: 130px;
                }
            }
            &.Contact{
                &:after{
                    content: "\f106";
                    font-size: 170px;
                }
            }
            h4{
                font: 500 20px/1 $pop;
                color: $bc;
                padding-bottom: 45px;
            }
            address, h6{
                font: 400 16px/36px $open;
                color: $pfont; 
                padding-bottom: 20px;
                margin: 0;
            }
        }
    }
    .facebook_btn{
        padding-top: 65px;
        a{
            font: 400 18px/64px $open;
            text-align: center;
            display: block;
            border-radius: 10px;
            background: #f6f6f6;
            color: #717171;
            margin-bottom: 30px;
            &:hover, &:focus{
                background: #55acee;
                color: #fff;
            }
            &.facebook{
                &:hover, &:focus{
                    background: #526FA3;
                    color: #fff;
                }
            }
            &.google{
                &:hover, &:focus{
                    background: #D14C2D;
                    color: #fff;
                }
            }
            &.linkdin{
                &:hover, &:focus{
                    background: #007bb6;
                    color: #fff;
                }
            }
            &.pinterest{
                &:hover, &:focus{
                    background: #BD081C;
                    color: #fff;
                }
            }
            &.instagram{
                &:hover, &:focus{ 
                    background: #e4405f;
                    color: #fff;
                }
            }
        }
    }
}
.map_area{
    display: block;
    overflow: hidden;
    margin-top: 120px; 
    .mapBox{
        width: 100%;
        height: 560px;
    }
}
/* End office_location_area Area */

/* Log in Area */
.login_area{
    display: block;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 80px;
    .login_inner{
        max-width: 630px;
        margin: 0 auto;
        .login_from{ 
            .form-group{
                margin-bottom: 50px;
                label{
                    font: 400 16px/1 $open;
                    color: $heding;
                    margin-bottom: 40px;
                }
                .form-control{
                    box-shadow: none;
                    outline: none; 
                    border: 1px solid #e8e7e7;
                    font: 400 16px/63px $open;
                    color: rgba(0, 0, 0, 0.6);
                    border-radius:0;
                    height: auto;
                    padding: 0 30px;
                    resize: none;  
                    @include placeholder{
                        color: rgba(0, 0, 0, 0.6);
                    } 
                    &:focus{
                        border-bottom-color: $bc;
                        @include placeholder{
                            color: transparent;
                        }
                    }
                } 
                .theme_btn{  
                    border-radius: 0px;
                    padding: 0;
                    margin-top: 20px;
                    font-size: 20px;
                    line-height: 65px;
                    border: 0;
                    display: block;
                    min-width: 100%;
                    text-transform: uppercase;
                } 
            } 
            .custom-checkbox{
                margin: 0; 
                margin-bottom: 48px;
                .custom-control-label{  
                    font: 400 15px/38px $open;
                    color: #010101;
                    padding-left: 45px;
                    cursor: pointer;
                    a{
                        color: $bc;
                    }
                    &:before{ 
                        border-radius: 0; 
                        height: 32px;
                        width: 32px; 
                        border-radius: 0;
                        box-shadow: 0px 0px 7px 0px rgba(147, 147, 147, 0.75); 
                    }
                    &:after{  
                        height: 32px;
                        width: 32px;  
                    }
                }  
            }
            .larg_btn{
                p{
                    text-align: center;
                    font: 400 15px/36px $open;
                    color: $pfont;
                    padding-top: 50px;
                    a{
                        color: $bc;
                        &:hover{
                            color: $heding;
                        }
                    }
                }
            }
        }
    }
}
/* End Log in Area */
 
