/* mission_area */
.mission_area{
    display: block;
    overflow: hidden;
    padding: 90px 0;
    .mission_tab{
        float: left;
        display: inline-block;
        max-width: 820px;
        margin-right: 22px;
        .tab_nav{
            li{
                padding: 0 20px;
                &:first-child{
                    padding-left: 0;
                }
                a{
                    font: 500 20px/40px $pop;
                    color: $heding;
                    text-transform: uppercase;
                    padding: 0;
                    position: relative; 
                    border-bottom: 3px solid #e9e9e9;
                    &:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -3px;
                        width: 0;
                        border-bottom: 3px solid $bc;
                        @include transition;
                    }
                    &:hover, &:focus, &.active{
                        &:after{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .tab-content{
            .tab-pane{
                p{
                    font: 400 16px/36px $open;
                    color: $pfont;
                    padding-top: 50px;
                }
            }
        }
    }
    
    .mission_impact{
        background: #f3f3f3;
        padding: 30px; 
        overflow: hidden; 
        width: 328px;
        h4{
            font: 500 18px/36px $pop;
            color: $heding;
        }
        p{
            font: 400 16px/34px $open;
            color: $pfont;
            padding: 20px 0; 
        }
        a{
            font: 600 16px/1 $open;
            color: $bc;
            i{
                padding-left: 10px;
                @include transition;
                font-size: 12px;
                position: relative;
                bottom: 2px;
            }
            &:hover, &:focus{
                color: $heding;
                i{
                    padding-left: 16px;
                }
            }
        }
    }
}
/* End mission_area */